# -------------------------
# Virtual environments
# -------------------------
.env
fastapi/
flask/
oauth/
# -------------------------
# Python cache 
# -------------------------
__pycache__/
*.pyc
# -------------------------
# Code editor
# -------------------------
.vscode
# -------------------------
# Multimedia
# -------------------------
IMG/
multimedia/
# -------------------------
# db
# -------------------------
users.db