<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home page</title>
  </head>

  <body>
    <h1>Welcome to Flask Notes</h1>
    <div>
      <button id="showBtn">show notes</button
      ><button id="hideBtn">hide notes</button>
    </div>
    <div>
      <a href="{{url_for('create_note')}}">Add new note</a>
    </div>
    <ul id="notesList">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>created</th>
            <th>edited</th>
            <th>delete</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for note in notes %} {% if not note.post_at or note.post_at <= now
          %}
          <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.content }}</td>
            <td>{{ note.created_at }}</td>
            <td>{{ note.edited_at }}</td>
            <td><a href="{{ url_for('edit_note', id=note.id) }}">edit</a></td>
            <td>
              <form
                method="post"
                action="{{ url_for('delete_note', id=note.id) }}"
              >
                <button type="submit">Deleted</button>
              </form>
            </td>
          </tr>
          {% endif %} {% else %}
          <tr>
            <td colspan="6">There aren't saved notes</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
    <br />

    <script>
      const showBtn = document.getElementById("showBtn");
      const hideBtn = document.getElementById("hideBtn");
      const notesList = document.getElementById("notesList");

      // start hidden (optional)
      notesList.classList.add("hidden");

      showBtn.addEventListener("click", () => {
        notesList.classList.remove("hidden");
      });

      hideBtn.addEventListener("click", () => {
        notesList.classList.add("hidden");
      });
    </script>
  </body>
</html>
