<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home page</title>
  </head>

  <body>
    <h1>Welcome to Flask Notes</h1>
    <div>
      <button id="showBtn">show notes</button
      ><button id="hideBtn">hide notes</button>
    </div>
    <div>
      <a href="{{url_for('create_note')}}">Add new note</a>
    </div>
    <ul id="notesList">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </thead>
        {% for note in notes %}
        <tbody>
          <tr>
            <td>{{note.id}}</td>
            <td>{{note.title}}</td>
            <td>{{note.content}}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3">There aren't saved notes</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
    <br />

    <script>
      const showBtn = document.getElementById("showBtn");
      const hideBtn = document.getElementById("hideBtn");
      const notesList = document.getElementById("notesList");

      // start hidden (optional)
      notesList.classList.add("hidden");

      showBtn.addEventListener("click", () => {
        notesList.classList.remove("hidden");
      });

      hideBtn.addEventListener("click", () => {
        notesList.classList.add("hidden");
      });
    </script>
  </body>
</html>

