<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new note</h1>
    <form method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>
                  
        <br>
        <label for="content">Content</label>  
        <input type="text" name="content" id="content" required>

        <br>
        <label for="post">Post</label>  
        <input type="date" name="post" id="post" value="{{now.strftime('%Y-%m-%d')}}">

        <input type="submit" value="create_note">
    </form> 
    
</body>
</html>